<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">

  </bean>

  <!-- Create the Hibernate Transaction manager bean -->
  <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <!-- Create the LocalSessionFactoryBean and set the Hibernate properties -->
  <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
    <property name="dataSource" ref="dataSource"/>
    <property name="hibernateProperties">
      <value>
        hibernate.dialect=org.hibernate.dialect.MySQL55Dialect
        hibernate.show_sql=true
      </value>
    </property>
  </bean>

<!-- Create the ClientDao bean -->
  <bean id="clientDao" class="com.yanimetaxas.bookkeeping.dao.ClientDaoImpl">
    <property name="dataSource">
      <ref bean="dataSource"/>
    </property>
  </bean>

  <!-- Create the AccountDao bean -->
  <bean id="accountDao" class="com.yanimetaxas.bookkeeping.dao.AccountDaoImpl">
    <property name="dataSource">
      <ref bean="dataSource"/>
    </property>
    <property name="dbUtil">
      <ref bean="dbUtil"/>
    </property>
  </bean>

  <!-- Create the DbUtil bean -->
  <bean id="dbUtil" class="com.yanimetaxas.bookkeeping.util.DbUtil"/>

  <!-- Create the TransactionDao bean -->
  <bean id="transactionDao" class="com.yanimetaxas.bookkeeping.dao.TransactionDaoImpl">
    <property name="dataSource">
      <ref bean="dataSource"/>
    </property>
    <property name="dbUtil">
      <ref bean="dbUtil"/>
    </property>
  </bean>

  <!-- Create the TransferValidator bean -->
  <bean id="validator" class="com.yanimetaxas.bookkeeping.validation.TransferValidatorImpl">
    <property name="accountDao">
      <ref bean="accountDao"/>
    </property>
    <property name="transactionDao">
      <ref bean="transactionDao"/>
    </property>
  </bean>

  <!-- Create the AccountService bean -->
  <bean id="accountService" class="com.yanimetaxas.bookkeeping.service.AccountServiceImpl">
    <property name="accountDao">
      <ref bean="accountDao"/>
    </property>
  </bean>

  <!-- Create the TransferService bean -->
  <bean id="transferService" class="com.yanimetaxas.bookkeeping.service.TransferServiceImpl">
    <property name="accountDao">
      <ref bean="accountDao"/>
    </property>
    <property name="transactionDao">
      <ref bean="transactionDao"/>
    </property>
    <property name="validator">
      <ref bean="validator"/>
    </property>
  </bean>

</beans>